<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>后台管理 - 易买网</title>
<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style.css" />
<script type="text/javascript">
function checkUserName(obj){
	var username = obj;
	var checkusernameResult = document.getElementById("checkusernameResult");
	if(username.trim().length == 0){
		checkusernameResult.innerHTML = "用户名不能为空";
	}else if(username.trim()!=){
		
		}
	}else{
		checkusernameResult.innerHTML = "";
	}
	function checkPw(obj){
		var password = obj;
		var checkpwResult = document.getElementById("checkpwResult");
		if(password.trim().length == 0){
			checkpwResult.innerHTML = "密码不能为空";
		}else{
			checkpwResult.innerHTML = "";
		}
	}
	function checkName(obj){
		var name = obj;
		var checknameResult = document.getElementById("checknameResult");
		if(name.trim().length == 0){
			checknameResult.innerHTML = "名字不能为空";
		}else{
			checknameResult.innerHTML = "";
		}
	}
	function checkTel(obj){
		var tel = obj;
		var checktelResult = document.getElementById("checktelResult");
		if(tel.trim().length == 0){
			checktelResult.innerHTML = "电话不能为空";
		}else{
			checktelResult.innerHTML = "";
		}
	}
	function checkAddress(obj){
		var address = obj;
		var checkaddressResult = document.getElementById("checkaddressResult");
		if(address.trim().length == 0){
			checkaddressResult.innerHTML = "地址不能为空";
		}else{
			checkaddressResult.innerHTML = "";
		}
	}
</script>
</head>
<body>
<include file="./dawashop/Admin/view/publicfile/head.html" />
<div id="childNav">
	<div class="welcome wrap">
		管理员pillys您好，今天是2012-12-21，欢迎回到管理后台。
	</div>
</div>
<div id="position" class="wrap">
	您现在的位置：<a href="index.html">易买网</a> &gt; 管理后台
</div>
<div id="main" class="wrap">
	<include file="./dawashop/Admin/view/publicfile/lefter.html" />
	<div class="main">
		<h2>新增用户</h2>
		<div class="manage">
			<form action="__CONTROLLER__/getdata"  enctype="multipart/form-data" method="post">
				<table class="form">
				<foreach name="userinfo" item="v">
				    <tr>
				    <input type="hidden" name="id" value="{$v.id}"></input>
				    </tr>
					<tr>
						<td class="field">用户名：</td>
						<td><input type="text" class="text" name="userName" value="{$v.username}" onblur="checkUserName(this.value)" /></td>
					    <td><span id="checkusernameResult" style="color:red"></span></td>
					</tr>
					<tr>
						<td class="field">姓名：</td>
						<td><input type="text" class="text" name="name" value="{$v.name}" onblur="checkName(this.value)" /></td>
					    <td><span id="checknameResult" style="color:red"></span></td>
					</tr>
					<tr>
						<td class="field">密码：</td>
						<td><input type="password" class="text" name="passWord" value="{$v.userpasswd}" onblur="checkPw(this.value)"/></td>
						<td><span id="checkpwResult" style="color:red"></span></td>
						</tr>
					<tr>
						<td class="field">性别：</td>
						<td><input type="radio" name="sex" value="1" checked="checked" />男 <input type="radio" name="sex" value="2" />女</td>
					    
					</tr>
					<tr>
						<td class="field">邮箱：</td>
						<td><input type="text" class="text" name="email" value="{$v.email}"></input></td>
					</tr>
					<tr>
						<td class="field">手机号码：</td>
						<td><input type="text" class="text" name="mobile" value="{$v.telno}" onblur="checkTel(this.value)"/></td>
					    <td><span id="checktelResult" style="color:red"></span></td>
					</tr>
					<tr>
						<td class="field">送货地址：</td>
						<td><input type="text" class="text" name="address" value="{$v.address}" onblur="checkAddress(this.value)"/></td>
					    <td><span id="checkaddressResult" style="color:red"></span></td>
					</tr>
					<tr>
						<td class="field">头像：</td>
						<td><input type="file" name="photo"></input></td>
					</tr>
					<tr>
						<td></td>
						<td><label class="ui-blue"><input type="submit" name="submit" value="添加" /></label></td>
					</tr>
					</foreach>
				</table>
			</form>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div id="footer">
	Copyright &copy; 2010 北大青鸟 All Rights Reserved. 京ICP证1000001号
</div>
</body>
</html>
